# Arquivos de configuração do Eclipse
.classpath
.project
.settings/
.DS_Store

# Pastas e arquivos do Maven
target/


# Banco de dados
# Ignora apenas o arquivo de banco de dados com a extensão .db
*.db


